.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: -2px -2px 5px #fff, 3px 3px 5px rgba(0, 0, 0, 0.1); */

  margin: 40px auto;
  padding: 20px;

  max-width: 650px;
  min-height: 870px;
  text-align: center;

  border-radius: 10px;
}

.book {
  width: 428px;
  /* margin-bottom: 20px; */
  margin-top: 20px;
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
  color: darkblue;
  text-shadow: -2px -2px 5px #fff, 3px 3px 5px rgba(0, 0, 0, 0.1);
  box-shadow: -2px -2px 5px #3434eb, 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.cont {
  width: 428px;
  text-align: center;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: midnightblue;
  font-weight: bolder;

  text-shadow: -2px -2px 5px #fff, 3px 3px 5px rgba(0, 0, 0, 0.1);
  box-shadow: -2px -2px 5px #fff, 3px 3px 5px rgba(0, 0, 0, 0.1);
}
